<HTML>
<HEAD>
	<TITLE></TITLE>
</HEAD>
<BODY vLink=#ffcc33 aLink=#ffcc33 link=#993333 bgColor=#ffffff leftMargin=0 
topMargin=0 rightMargin=0 MARGINHEIGHT="0" MARGINWIDTH="0">
<CENTER>
<TABLE cellSpacing=0 cellPadding=0 width=650 border=0>
  <TBODY>
  <TR>
    <TD width=172><IMG alt="Captain Fresh Seafood Supermarket" 
      src="/springJDBC3/view/images/home_top_left.jpg" 
      border=0 width="172" height="62"></TD>
    <TD width=253><IMG height=62 alt="Captain Fresh Seafood Supermarket" 
      src="/springJDBC3/view/images/home_top_mid.jpg" width=253 
    border=0></TD>
    <TD width=225><IMG height=62 alt="Captain Fresh Seafood Supermarket" 
      src="/springJDBC3/view/images/home_top_right.jpg" width=225 
      border=0></TD></TR>
   </TBODY>
</TABLE>
</CENTER>
</BODY>
</HTML>
